.radio fieldset {
  transition: border-color 0.1s ease-out;
  border: 1px solid #bfccd7;
  padding-left: 0.34em;
  &:hover {
    border-color: #809ab0;
    legend {
      border-color: #809ab0;
    }
    label {
      color: #00163a;
    }
  }
  legend {
    display: inline;
    width: initial;
    font-size: 90%;
    padding: 0 5px;
    margin-bottom: -0.2em;


  }
}

.highcharts-annotation, .highcharts-annotation-labels, .highcharts-annotation-label {
  width: 100%;
}
.highcharts-annotation-label {
    right: auto !important;
    left: auto !important;
    span {
      background-color: rgba(255,255,255,0.8);
      border: 1px solid #58585b;
      color: #fff;
      font-weight: bold;
      padding: 5px 10px;
      width: 100%;
      max-width: 410px;
      white-space: normal !important;
      vertical-align: top;
      transform: translate(0,40px);
      box-sizing: border-box;
      letter-spacing: 0.5px;
    }
    &.right {
      span {
        left: auto !important;
        right: 0;
      }
    }
    &.left {
      span {
        left: 0 !important;
      }
    } 
    &.full {
      top: 0 !important;
      span {
        top: 0 !important;
        max-width: 100%;
        left: 0 !important;

      }
    }
    
}



/*.overlay-play {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
  transition: opacity 0.2s linear, background-color 0.2s linear;
  border-radius: 10px;
  &.clicked {
    cursor: default;
    .triangle {
      opacity: 0;
      &.triangle-next, &.triangle-previous {
        opacity: 1;
      }
    }
  }*/
.chart-container {
  .triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    left: 50%;
    top: 50%;
    transition: border-left-color 0.2s linear, border-right-color 0.2s linear, opacity 0.2s linear;
    position: absolute;
    opacity: 0.85;
    z-index: 9;
    cursor: pointer;
    &.triangle-right {
      transform: translate(-100%,-50%);
      border-left: 100px solid #064782;
      &:hover {
        border-left-color: #aedb90;
      }
      &.triangle-next {
        border-left-width:25px;
        left: 100%;
        visibility:hidden;
        opacity: 0.35;
        &:hover {
          opacity: 1;
        }
        &.show {
          visibility: visible;
        }
        &.disabled {
          pointer-events: none;
          opacity: 0;
        }
      }
    }
    &.triangle-left {
      transform: translate(100%,-50%);
      border-right: 100px solid #064782;
      &:hover {
        border-right-color: #aedb90;
      }
      &.triangle-previous {
        border-right-width: 25px;
        left: 0%;
        visibility:hidden;
        opacity: 0.35;
        &:hover {
          opacity: 1;
        }
        &.show {
          visibility: visible;
        }
        &.disabled {
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }
  &:hover {
    .triangle {
      opacity: 1;
    } 
   /* .triangle-right {
      border-left-color: #aedb90;
    }
    .triangle-left {
      border-right-color: #aedb90;
    }*/
    .dismiss-button {
      opacity: 1;
    }
  }
  .dismiss-button {
    opacity: 0.8;
  }
  .triangle.clicked, .dismiss-button.clicked {
    opacity: 0;
  }
}


.dismiss-button, .overlay-replay {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #064782 !important;
    background-color: transparent !important;
    box-shadow: none;
    border-bottom: 3px solid transparent;
    padding:0 !important;
    font-size: 0.6em !important;
    &:hover {
      border-bottom-color: #aedb90;
    }
  }



g.title-high text {
  text-anchor: start;
}

g.shortdot path {
  stroke-dasharray: 5;
  &.anchor {
    stroke-dasharray: 1 8;
  }
}

.highcharts-container.predicted-sales, .highcharts-container.predicted-gas-prices {
  .highcharts-series-0 path.highcharts-graph {
    stroke-width:3px;
  }
}

g.highcharts-annotation {
  opacity:1;
  transition: opacity 0.5s linear;
}
g.highcharts-annotation[visibility="hidden"]{
  visibility: visible;
  opacity: 0;
}

.highcharts-annotation-label text {
  fill: #58585b;
}

.highcharts-annotation-label-box {
  stroke:none;
  fill:none;
}

.highcharts-xaxis-labels > span {
    text-align: center;
}

.chart-container {
  position: relative;
  padding-bottom: 0.85em;
  margin-bottom:1em;
  transition: opacity 0.2s linear;
  opacity: 1;
  &.faded {
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }
}

.chart-container form label {
  display: inline;
  font-family: inherit;
  margin-right:1em;
  

  input[type="checkbox"], input[type="radio"] {
    float:none;
    top: -1px;
    margin-right:0.25em;
  }
}

.highcharts-note {
  color: #58585b;
  font-size:0.8em;
  line-height:140%;
}
/*
 * overrides to highcharts css
 */
.highcharts-background {
    fill: none;
}
 /* font */

 .highcharts-container {
    font-family: inherit;
    font-size: 0.85em;
    line-height: inherit;
    height: initial;
    //background: transparent url('//www.rff.org/files/rff-logo-small.png') no-repeat 45px bottom;
    //background-image-size: 50%;
 }

.highcharts-title {
    font-size:1.15em;
    font-weight: bold;
}

.highcharts-yaxis .highcharts-axis-title {
    font-style: italic;

}

.highcharts-stack-labels, .highcharts-axis-labels, .highcharts-legend-item text {
    font-size: 0.85em;
  
}

.highcharts-axis-title, .highcharts-axis-labels, .highcharts-subtitle, .highcharts-legend-item text {
      fill: #58585b;
      font-weight: normal;
}
.highcharts-subtitle {
    line-height:1.25em;
}
.highcharts-credits {
    font-size: 0.7em;
    &:hover {
        font-size: 0.7em;
    }
}

/* colors */

.highcharts-color-0 {
  &.highcharts-annotation-label span {
    border-color: #002d55;
    background-color:  #002d55;
  }
  fill: #002d55;
  stroke: #002d55;
}

.highcharts-color-3 {
  &.highcharts-annotation-label span {
    border-color: #706f73;
    background-color:  #706f73;
  }
  fill: #706f73;
  stroke: #706f73;
}

.highcharts-color-1 {
  &.highcharts-annotation-label span {
    border-color: #387b2b;
    background-color:  #387b2b;
  }
  fill: #387b2b;
  stroke: #387b2b;
}

.highcharts-color-5 {
  &.highcharts-annotation-label span {
    border-color: #572600;
    background-color:  #572600;
  }
  fill: #572600;
  stroke: #572600;
}

.highcharts-color-4 {
  &.highcharts-annotation-label span {
    border-color: #de791b;
    background-color:  #de791b;
  }
  fill: #de791b;
  stroke: #de791b;
}

.highcharts-color-2 {
  &.highcharts-annotation-label span {
    border-color: #0064af;
    background-color:  #0064af;
  }
  fill: #0064af;
  stroke: #0064af;
}

.highcharts-color-6 {
  &.highcharts-annotation-label span {
    border-color: lighten(#706f73, 20%);
    background-color:  lighten(#706f73, 20%);
  }
  fill: lighten(#706f73, 20%);
  stroke: lighten(#706f73, 20%);
}

.highcharts-color-7 {
  &.highcharts-annotation-label span {
    border-color: lighten(#387b2b, 20%);
    background-color:  lighten(#387b2b, 20%);
  }
  fill: lighten(#387b2b, 20%);
  stroke: lighten(#387b2b, 20%);
}

.highcharts-color-8 {
  &.highcharts-annotation-label span {
    border-color: lighten(#387b2b, 20%);
    background-color:  lighten(#387b2b, 20%);
  }
  fill: lighten(#387b2b, 20%);
  stroke: lighten(#387b2b, 20%);
}

.highcharts-color-9 {
  &.highcharts-annotation-label span {
    border-color: lighten(#572600, 20%);
    background-color:  lighten(#572600, 20%);
  }
  fill: lighten(#572600, 20%);
  stroke: lighten(#572600, 20%);
}